@model ASP_View.Models.KandidaatViewModel

@{
    ViewData["Title"] = Model.KandidaatId==0?"Maak gebruiker":"Update gebruiker";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrEdit" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KandidaatId" />
            <div class="form-group">
                <label asp-for="KandidaatNaam" class="control-label"></label>
                <input asp-for="KandidaatNaam" class="form-control" />
                <span asp-validation-for="KandidaatNaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
